{
    "port": 8080,
    "googleAnalyticsId": null,
    "rl": {
        "token": null
    },
    "inspector": {
        "enabled": false,
        "host": "localhost",
        "username": "curvytron",
        "password": "curvytron",
        "database": "curvytron"
    }
}
